# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                             #
#          Example lifebar config file. Edit and save to ~/.lifebarrc         #
#                                                                             #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# position of the bar, valid options are 'top' and 'bottom'
position	bottom

# thickness of the bar in pixels
depth		20

# network interface names used for reporting ip address information
ifone		eth0
#iftwo		wlan0

# filesystem paths used for reporting remaining storage capacity
fsone		/home
#fstwo		/

# alarm time increment when mouse-wheeling over the time, in seconds
alarminc	60

# time and date formats, see `man strftime`
timefmt		"%H:%M"
datefmt		"%A %e %B %Y"

# screen edge and divider padding in pixels
lpadding	10
rpadding	10
divpadding	10

# padding between key and value text in pixels
kvpadding	6

# divider style, valid options are 'line' and 'groove'
divstyle	groove

# colour format is RED,GREEN,BLUE,ALPHA with values of 0-255
# main background colour
tintcol		"255,255,255, 60"
# main background colour when alarm is flashing
alarmtintcol	"255, 50, 50,180"
# main key and value text colours
keycol		" 20, 20, 20,255"
valcol		" 20, 20, 20,200"
# time and date text colours
timecol		" 10, 10, 10,255"
datecol		" 10, 10, 10,255"
alarmcol	"120, 20, 20,255"
# colour of divider lines when divstyle is set to 'line'
divcol		" 30, 30, 50,255"
# workspace name text colour when that workspace is visible
viswscol	" 20, 20, 20,255"
# workspace name text colour when that workspace is not visible
inviswscol	" 20, 20, 20,100"

# fonts
keyfont		"sans-8-bold"
valfont		"sans-8"
timefont	"sans-8-bold"
datefont	"sans-8"
alarmfont	"sans-8-bold"
wsfont		"sans-8"

# layout all workspaces / batt1 | therm1 | fsone | wanip | ifone | date | time
# battery, volume, temperature, cpu usage, ram usage (graphs?) wifi strength
# vpn status

# vim: syntax=sh softtabstop=8 tabstop=8:
